:root,
html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

button,
input,
select,
textarea,
a,
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

#brought-to-you-by-message {
    padding: 6px;
    text-shadow: 0px 0px 6px white;
    position: fixed;
    top: 0;
    left: 0;
}

#about-page-link {
    text-shadow: 0px 0px 6px black;
    text-decoration: none; 
    color: white;
}

#record-logo-icon, #record-logo-wordmark img {
    box-shadow: none; 
    border: none; 
}

#record-logo-icon {
    width: 24px;
    filter: drop-shadow(0px 0px 2px white);
}

#record-logo-wordmark img {
    width: clamp(5rem, 40vw, 16rem);
    position: fixed;
    right: 0;
    bottom: 0;
}

line {
    border-bottom: 1px solid red;
}

abbr {
    text-decoration: none;
}
