html {
    color: #171717;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 12px;
    background-image: url(https://www.jodyparsley.org/assets/jpg/shared/paper_background_var-1.jpg);
}

#reach-out {
    width: fit-content;
    padding: 6px;
    border: 2px solid red
}

#reach-out {
    color: black;
}

p {
    font-size: 24px;
}

#credit {
    font-size: 18px;
}

#logo {
    margin-top: -32px;
    margin-bottom: -32px;
    width: 20rem;
}

