:root {
    --main-color: #355e3b;
}

#logo {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 15vw;
    max-width: 200px;
    min-width: 150px;
}

footer {
    position: absolute;
    bottom: 1%;
    max-width: 50vw;
}

.bouncing {
    animation: bounce 0.667s infinite ease-in-out;
}

@keyframes bounce {
    0%, 25%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}